:root {
  --black: #000000;
  --ac-blue: #2b3f99;
  --ac-pink: #d21d52;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

body {
  background-image: url(../src/assets/images/hex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

/* Header Styling */

.cartIcon {
  font-size: 1.5em;
  cursor: pointer;
  color: var(--ac-blue);
}

li {
  list-style: none;
  font-size: 1.5em;
  cursor: pointer;
}

.even {
  color: var(--ac-blue);
}
.odd {
  color: var(--ac-pink);
}

header,
ul {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  
}

header {
  padding: 1.5em;
  background-color: black;
  align-items: center;
  color: #fff;
}

.title {
  color: var(--ac-pink);
}