:root {
  --black: #000000;
  --ac-blue: #2b3f99;
  --ac-pink: #d21d52;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

body {
  background-image: url(../src/assets/images/hex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

body::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.flex {
  display: flex;
  justify-content: space-around;
}

/* Header Styling */

.cartIcon {
  font-size: 1.5em;
  cursor: pointer;
  color: var(--ac-blue);
}

li {
  list-style: none;
  font-size: 1.5em;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.even {
  color: var(--ac-blue);
}
.odd {
  color: var(--ac-pink);
}

header,
ul {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  
}

header {
  padding: 1.5em;
  background-color: black;
  align-items: center;
  color: #fff;
}

.title {
  color: var(--ac-pink);
}

/* Home Styling */

.overlay {
  background-color: rgba(0, 0, 0, .7);
  padding: 2em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gradient-text {
  background-image: linear-gradient(to right, #ef2562, #2c4de2, #ef2562);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 5em;
  
} 

.home {
  padding-top: 15em;
}

/* Shop Styling */

.cardCont {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

/* Tile Styling */

.tile {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  border-top: 1px solid var(--ac-blue);
  border-bottom: 1px solid var(--ac-pink);
  padding: 1em 0;
  font-size: 1.2em;
}